.App {
  text-align: center;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Calendar {
	display:flex;
	width: 40em;
}
.CalendarSideBarHour {
	order: 0;
	width: 3em;
}
.CalendarDay {
	order: 1;
	width: 100%;
	border-style: solid;
	border-radius: .3em;
	border-width: 0.11em;
	border-color: #c9c8c8
}
.CalendarHour {
	border-style: solid;
	border-width: 0.11em;
	border-color: #c9c8c8
}
